﻿@{
    ViewData["Title"] = "Confirm Email";
}

<div class="container">
    <h1>Email Confirmation</h1>
    <p>Your email has been confirmed successfully.</p>
    <p>Would you like to <a style="color:brown;" href="/Account/Login">Login</a>?</p>
</div>