@model ResetPasswordViewModel
<main>
    <div class="mb-4 pb-4"></div>
    <section class="login-register container">
        <h2 class="section-title text-center fs-3 mb-xl-5">Reset Your Password</h2>
        <p>We will send you an email to reset your password</p>
        <div class="reset-form">
            <form asp-action="ResetPassword" method="post class="needs-validation" novalidate>
                <input type="hidden" asp-for="Token" />
                <input type="hidden" asp-for="Email" />
                <div class="form-floating mb-3">
                    <label>New Password:</label>
                    <input type="password" asp-for="Password" />
                </div>
                <div class="form-floating mb-3">
                    <label>Confirm New Password:</label>
                    <input type="password" asp-for="ConfirmPassword" />
                </div>
                <button class="btn btn-primary w-100 text-uppercase" type="submit">Submit</button>

               
            </form>
        </div>
    </section>
</main>