@{
    Layout = null;
}﻿﻿
@using BinaAz.Models.ViewModels
@model AppUserRegister
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>RegistrationForm_v4 by Colorlib</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="~/colorlib-regform-20/css/style.css">
</head>

<body>

    <div class="wrapper">
        <div class="inner">
            <div class="image-holder">
                <img src="~/colorlib-regform-20/images/registration-form-4.jpg" alt="">
            </div>
            <form asp-controller="Account" asp-action="SignUp" method="Post">
                <h3>Sign Up</h3>

                <div class="form-holder">
                    <input type="text" asp-for="Username" placeholder="usernme" class="form-control">
                </div>
                <div class="form-holder">
                    <input type="text" asp-for="Surname" placeholder="surname" class="form-control">
                </div>
                <div class="form-holder">
                    <input type="text" asp-for="Name" placeholder="name" class="form-control">
                </div>
                <div class="form-holder">
                    <input type="password" asp-for="Password" placeholder="Password" class="form-control" style="font-size: 15px;">
                </div>
                <div class="form-holder">
                    <input type="text" asp-for="Email" placeholder="email" class="form-control">
                </div>
                <div asp-validation-summary="ModelOnly"></div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" checked> I agree all statement in <a href="#">Terms & Conditions</a>
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="form-login">
                    <button type="submit">Sign up</button>
                    <p>Already Have account? <a href="#">Login</a></p>
                </div>
            </form>
        </div>
    </div>

    <script src="~/colorlib-regform-20/js/jquery-3.3.1.min.js"></script>
    <script src="~/colorlib-regform-20/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>