
<div class="page-title-section">
	<div class="container">
		<div class="pull-left page-title">
			<a href="#">
				<h2>our agents</h2>
			</a>
		</div>
		<div class="pull-right breadcrumb">
			<a href="#">home</a><span class="fa fa-arrow-circle-right sep"></span><a href="#">our agents</a>
		</div>
	</div>
</div>
</div><div class="content-section">
	<div class="container">
		<!-- single-agent -->
		<div class="single-agent">
			<div class="image-box">
				<img src="img/agents/08_agent-photo1.png" alt="agent">
				<ul class="social-icons">
					<li><a href="#" class="fa fa-google-plus"></a></li>
					<li><a href="#" class="fa fa-twitter"></a></li>
					<li><a href="#" class="fa fa-pinterest"></a></li>
					<li><a href="#" class="fa fa-dribbble"></a></li>
					<li><a href="#" class="fa fa-linkedin"></a></li>
					<li><a href="#" class="fa fa-facebook"></a></li>
				</ul>
			</div>
			<div class="desc-box">
				<h4>Robb Hatman</h4>
				<p class="person-number">
					<i class="fa fa-phone"></i> 900 123 456 789
				</p>
				<p class="person-email">
					<i class="fa fa-envelope"></i> robbhatman@sweethome.com
				</p>
				<p class="person-fax">
					<i class="fa fa-print"></i> 900 123 456 789
				</p>
				<a href="#" class='gray-btn'>view full profile</a>
			</div>
		</div>
		<!-- single-agent -->
		<div class="single-agent">
			<div class="image-box">
				<img src="img/agents/09_agent-photo2.png" alt="agent">
				<ul class="social-icons">
					<li><a href="#" class="fa fa-google-plus"></a></li>
					<li><a href="#" class="fa fa-twitter"></a></li>
					<li><a href="#" class="fa fa-pinterest"></a></li>
					<li><a href="#" class="fa fa-dribbble"></a></li>
					<li><a href="#" class="fa fa-linkedin"></a></li>
					<li><a href="#" class="fa fa-facebook"></a></li>
				</ul>
			</div>
			<div class="desc-box">
				<h4>Robb Hatman</h4>
				<p class="person-number">
					<i class="fa fa-phone"></i> 900 123 456 789
				</p>
				<p class="person-email">
					<i class="fa fa-envelope"></i> robbhatman@sweethome.com
				</p>
				<p class="person-fax">
					<i class="fa fa-print"></i> 900 123 456 789
				</p>
				<a href="#" class='gray-btn'>view full profile</a>
			</div>
		</div>
		<!-- single-agent -->
		<div class="single-agent">
			<div class="image-box">
				<img src="img/agents/11_agent-photo3.png" alt="agent">
				<ul class="social-icons">
					<li><a href="#" class="fa fa-google-plus"></a></li>
					<li><a href="#" class="fa fa-twitter"></a></li>
					<li><a href="#" class="fa fa-pinterest"></a></li>
					<li><a href="#" class="fa fa-dribbble"></a></li>
					<li><a href="#" class="fa fa-linkedin"></a></li>
					<li><a href="#" class="fa fa-facebook"></a></li>
				</ul>
			</div>
			<div class="desc-box">
				<h4>Robb Hatman</h4>
				<p class="person-number">
					<i class="fa fa-phone"></i> 900 123 456 789
				</p>
				<p class="person-email">
					<i class="fa fa-envelope"></i> robbhatman@sweethome.com
				</p>
				<p class="person-fax">
					<i class="fa fa-print"></i> 900 123 456 789
				</p>
				<a href="#" class='gray-btn'>view full profile</a>
			</div>
		</div>
		<!-- single-agent -->
		<div class="single-agent">
			<div class="image-box">
				<img src="img/agents/12_agent-photo4.png" alt="agent">
				<ul class="social-icons">
					<li><a href="#" class="fa fa-google-plus"></a></li>
					<li><a href="#" class="fa fa-twitter"></a></li>
					<li><a href="#" class="fa fa-pinterest"></a></li>
					<li><a href="#" class="fa fa-dribbble"></a></li>
					<li><a href="#" class="fa fa-linkedin"></a></li>
					<li><a href="#" class="fa fa-facebook"></a></li>
				</ul>
			</div>
			<div class="desc-box">
				<h4>Robb Hatman</h4>
				<p class="person-number">
					<i class="fa fa-phone"></i> 900 123 456 789
				</p>
				<p class="person-email">
					<i class="fa fa-envelope"></i> robbhatman@sweethome.com
				</p>
				<p class="person-fax">
					<i class="fa fa-print"></i> 900 123 456 789
				</p>
				<a href="#" class='gray-btn'>view full profile</a>
			</div>
		</div>
		<!-- single-agent -->
		<div class="single-agent">
			<div class="image-box">
				<img src="img/agents/13_agent-photo5.png" alt="agent">
				<ul class="social-icons">
					<li><a href="#" class="fa fa-google-plus"></a></li>
					<li><a href="#" class="fa fa-twitter"></a></li>
					<li><a href="#" class="fa fa-pinterest"></a></li>
					<li><a href="#" class="fa fa-dribbble"></a></li>
					<li><a href="#" class="fa fa-linkedin"></a></li>
					<li><a href="#" class="fa fa-facebook"></a></li>
				</ul>
			</div>
			<div class="desc-box">
				<h4>Robb Hatman</h4>
				<p class="person-number">
					<i class="fa fa-phone"></i> 900 123 456 789
				</p>
				<p class="person-email">
					<i class="fa fa-envelope"></i> robbhatman@sweethome.com
				</p>
				<p class="person-fax">
					<i class="fa fa-print"></i> 900 123 456 789
				</p>
				<a href="#" class='gray-btn'>view full profile</a>
			</div>
		</div>
		<!-- single-agent -->
		<div class="single-agent">
			<div class="image-box">
				<img src="img/agents/14_agent-photo6.png" alt="agent">
				<ul class="social-icons">
					<li><a href="#" class="fa fa-google-plus"></a></li>
					<li><a href="#" class="fa fa-twitter"></a></li>
					<li><a href="#" class="fa fa-pinterest"></a></li>
					<li><a href="#" class="fa fa-dribbble"></a></li>
					<li><a href="#" class="fa fa-linkedin"></a></li>
					<li><a href="#" class="fa fa-facebook"></a></li>
				</ul>
			</div>
			<div class="desc-box">
				<h4>Robb Hatman</h4>
				<p class="person-number">
					<i class="fa fa-phone"></i> 900 123 456 789
				</p>
				<p class="person-email">
					<i class="fa fa-envelope"></i> robbhatman@sweethome.com
				</p>
				<p class="person-fax">
					<i class="fa fa-print"></i> 900 123 456 789
				</p>
				<a href="#" class='gray-btn'>view full profile</a>
			</div>
		</div>
		<!-- single-agent -->
		<div class="single-agent">
			<div class="image-box">
				<img src="img/agents/15_agent-photo7.png" alt="agent">
				<ul class="social-icons">
					<li><a href="#" class="fa fa-google-plus"></a></li>
					<li><a href="#" class="fa fa-twitter"></a></li>
					<li><a href="#" class="fa fa-pinterest"></a></li>
					<li><a href="#" class="fa fa-dribbble"></a></li>
					<li><a href="#" class="fa fa-linkedin"></a></li>
					<li><a href="#" class="fa fa-facebook"></a></li>
				</ul>
			</div>
			<div class="desc-box">
				<h4>Robb Hatman</h4>
				<p class="person-number">
					<i class="fa fa-phone"></i> 900 123 456 789
				</p>
				<p class="person-email">
					<i class="fa fa-envelope"></i> robbhatman@sweethome.com
				</p>
				<p class="person-fax">
					<i class="fa fa-print"></i> 900 123 456 789
				</p>
				<a href="#" class='gray-btn'>view full profile</a>
			</div>
		</div>
		<!-- single-agent -->
		<div class="single-agent">
			<div class="image-box">
				<img src="img/agents/16_agent-photo8.png" alt="agent">
				<ul class="social-icons">
					<li><a href="#" class="fa fa-google-plus"></a></li>
					<li><a href="#" class="fa fa-twitter"></a></li>
					<li><a href="#" class="fa fa-pinterest"></a></li>
					<li><a href="#" class="fa fa-dribbble"></a></li>
					<li><a href="#" class="fa fa-linkedin"></a></li>
					<li><a href="#" class="fa fa-facebook"></a></li>
				</ul>
			</div>
			<div class="desc-box">
				<h4>Robb Hatman</h4>
				<p class="person-number">
					<i class="fa fa-phone"></i> 900 123 456 789
				</p>
				<p class="person-email">
					<i class="fa fa-envelope"></i> robbhatman@sweethome.com
				</p>
				<p class="person-fax">
					<i class="fa fa-print"></i> 900 123 456 789
				</p>
				<a href="#" class='gray-btn'>view full profile</a>
			</div>
		</div>
	</div>
</div>