
<div class="page-title-section">
	<div class="container">
		<div class="pull-left page-title">
		</div>
	</div>
</div>
<div class="content-section">
	<div class="container">
		<div class="col-md-12 map-wrapper">
			<div class="inner-wrapper">
				<div id="map">
				</div>
				<div class="clearfix">
				</div>
			</div>
		</div>
		<div class="col-md-6 contact-info">
			<div class="inner-wrapper">
				<h4 class="box-title">Contact info</h4>
				<p class='first-paragraph'>
					This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
				</p>
				<p>
					Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad
				</p>
				<div class="info-wrapper">
					<span><i class="fa fa-home"></i>lorem ipsum street</span>
					<span><i class="fa fa-phone"></i>+399 (500) 321 9548</span>
					<span><i class="fa fa-envelope"></i>info@domain.com</span>
				</div>
				<div class="clearfix">
				</div>
			</div>
		</div>
		<div class="col-md-6 contact-form-wrapper">
			<div class="inner-wrapper">
				<h4 class="box-title">Get in touch</h4>
				<form class='contact-form' method="POST">
					<div class="contact-form-left">
						<span><i class='fa fa-user'></i></span><input type="text" name='name' placeholder='Name' id='name'>
						<span><i class='fa fa-envelope-o'></i></span><input type="text" name='email' placeholder='e-mail' id='email'>
						<span><i class='fa fa-link'></i></span><input type="text" name='website' placeholder='website' id='website'>
					</div>
					<div class="contact-form-right">
						<textarea id="message" name='message' placeholder='Message'></textarea>
						<input type="submit" value='send message' id='submit-btn'>
					</div>
				</form>
				<div class="clearfix">
				</div>
			</div>
		</div>
	</div>
</div>